/* Shop Page CSS */


.shop-header {
    background-image: url("https://img.freepik.com/premium-photo/workout-gym-fitness-equipments-background-with-copy-space-text_916191-122007.jpg");
    background-size: cover;
    height: 700px;
    color: white; 
}

.shop-stats {
    color: white; 
}